%h2 Actives
= render :partial => 'main/checkins', :locals => {:checkins => TeamCheckin.active(session[:current_checkpoint_id]), :title => "Time to checkout"}
    
%h2 Warning
= render :partial => 'main/checkins', :locals => {:checkins => TeamCheckin.warning(session[:current_checkpoint_id]), :title => "Time to checkout"}  
  
%h2 Expired
= render :partial => 'main/checkins', :locals => {:checkins => TeamCheckin.expired(session[:current_checkpoint_id]), :title => "Time expired"}