
#selection
  =render :partial => "main/checkpoint_selection"
%hr

#checkin
  =render :partial => "main/checkin"

  = content_for :javascript do
    :javascript

      $(document).ready(function(){
        setInterval(function(){    
          $('#checkin_lists').load('/main/reload_checkins');
          }, 3000);

        });

#checkin_lists        
  = render :partial => 'main/checkin_lists'