- ["yellow", "gray", "red", "blue", "green", "light_blue", "white"].each do |route|
  %h1=route.try(:capitalize).try(:gsub, /_/, " ")
  %table{:class => route, :width => "100%"}
    %tr
      %th Name
      - Routes.send(route).each do |location|
        %th=location
      %th Total
    - Team.find(:all, :conditions => {:route => route}).each do |team|
      %tr
        %td=team.name
        - Routes.send(route).each do |location|
          %td=team.checkin_time_for(location)        
        %td=in_minutes(team.total_time)
