= link_to "Start", start_race_path
- ["yellow", "gray", "red", "blue", "green", "light_blue", "white", "pink"].each do |route|
  %h1=route.try(:capitalize).try(:gsub, /_/, " ")
  %table{:class => "time", :width => "100%"}
    %tr
      %th.team Name
      - Routes.send(route).each do |location|
        %th.location=location
      %th.total Total
    - Team.find(:all, :conditions => {:route => route}).each do |team|
      %tr
        %td.name=team.name
        - Routes.send(route).each do |location|
          %td.location=team.checkin_time_for(location)        
        %td.total=in_minutes(team.total_time)