body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
a {color: #000;}
a:visited { color: #000;}
a:hover { color: #000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  background-color: red;
}

th {
    text-align: left;
}

th.actions {
    text-align: center;
}


.listing {
    width: 100%;
}

.listing th,
.listing td {
    padding: 5px;
}

.listing th {
    text-align: left;
    background-color: #a4d6ef;
    color: #105cb4;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.even {
    background-color: #eeeeee;
}
.odd {
    background-color: white;
}
.header-content {
	text-align: center;
	height: 50px;
}
.header-text {
	display:inline;
}

div.flag-top {
  width: 1000px;
  margin: 0px;
  padding: 0px;
	margin-bottom:20px;
  background-color: #a4d6ef;
  height: 40px; 
}

div#nav_container {
  width: 1000px;
	margin-top: 20px;
  margin: 0px;
  padding: 0px;
  background-color: #a4d6ef;
  height: 40px; 
}

.image-left {
	display: inline;
	height: 40px;
	float: left;
	padding-left: 20px;
}

.image-right {
	display: inline;
	height: 40px;
	float: right;
	padding-right: 20px;
}


ul#nav {
	position: absolute;
	left: 540px;
	display: inline;
  margin: 0px;
  padding: 0px;
  background-color: #a4d6ef;
  height: 40px; 
}

ul#nav a {
	color: #105cb4;
	text-decoration: none; 
}
  
ul#nav li {
	float: left;
	height: 30px;
	width: 100px;
	text-align: center;
	padding-top: 10px;
	background-color: #a4d6ef;
	color: #FCFCFC;
	list-style: none; 
}

ul#nav li:hover {
	background-color: #105cb4;
	text-decoration: underline;
}
ul#nav li:hover a {
	color: #FFF;
	text-decoration: underline;
}

#selection {
	margin: 10px 0px;
}

#checkin {
	margin: 20px 0px;
}

table.checkins {
  text-align: center;
  border-spacing: 0px;
  border: 1px solid #595959;
  border-bottom: 0px;
  min-width: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
}

table.checkins th {
	text-align: center;
	background-color: #a4d6ef;
	color: #105cb4;
	font-size: 1.1em; }

table.checkins tr {
	height: 2em; }
  
table.checkins tr:hover {
	background-color: #b0b0b0; }

table.checkins td {
	width: 100px;
	border-bottom: solid 1px #595959; 
}

table.checkins .name {
	width: 250px;
	text-align: left;
	padding-left: 4px; 
	overflow: hidden;}

table.checkins .label {
	width: 5px;}

table.checkins .action {
	width: 150px; }
	
table.checkins .end {
	width: 75px;}

table.checkins .num {
	width: 50px;
	text-align: center;}

table.checkins .description {
   width: 600px; }

table.checkins .total {
	background-color: #595959;
	color: #FCFCFC; }

table.checkins .total:hover {
	background-color: #595959; }


